:root {
    --roxo: #4A37E6;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 10px;
}

header .logo {
    margin-left: 10px;
    color: var(--roxo);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;

    font-size: 18px;
}

header nav a:hover {
    color: #fff;
}

.sua-conta {
    height: 30px;
    width: 30px;
}